$red-color: #ff6c5c;

.timer-row {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.numeric-timer {
  margin-right: 0.5vh;
  font-weight: 700;
  font-size: 3vh;
}

.progress-bar {
  border-radius: 20px;

  height: 30%;
  background-color: lighten($red-color, 20%);
  flex-grow: 1;
}

.progress-bar > div {
  border-radius: 20px;
  background-color: $red-color;
  transition: transform linear;
}
