.loader {
  height: 50px;
  background-color: palevioletred;
  color: white;
  font-size: 40px;
  text-align: center;
}

.exhausted {
  height: 50px;
  background-color: rgba(119, 48, 48, 0.959);
  color: white;
  font-size: 40px;
  text-align: center;
}
