$choice-font-size: 2.7vh;
$color-mustard: #c87e1f;

.screen {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
}

.top-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 1vh 1vh 0 1vh;
}

.top-bar-center-area {
  background-color: white;
  padding: 1vh 4vh 1vh 4vh;
  display: flex;
  justify-content: center;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 1vh;
  }
}

.deck-button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0.5vh;
  display: flex;
}

%deck-svg {
  height: 4vh;
  width: 4vh;
}

.deck-success {
  @extend %deck-svg;
}

.deck-all {
  @extend %deck-svg;
}

.record-text {
  display: block;

  font-size: 4vh;
  font-weight: 500;
}

.card {
  height: 75vh;
  width: calc(75vh * 4 / 6);

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 2vh;
  opacity: 0;

  border-radius: 12px;
  border-color: black;
  border-style: solid;
  border-width: 0.4vh;
  background-color: white;

  position: relative;
}

.main-section {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 1vh;
}

.img {
  display: block;
  object-fit: cover;
  height: 40vh;
  width: calc(40vh * 4 / 3);
  max-width: 100%;
}

/* **************** */
.question {
  font-size: 4vh;
  margin: 1vh 0 1vh 0;
  visibility: visible;
}

.choices {
  width: 100%;
  display: block;
  padding-inline-start: 0px;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.choice-li {
  -webkit-tap-highlight-color: transparent;
  user-select: none;

  min-height: 6vh;
  width: 90%;

  display: flex;
  align-items: center;
  border-color: #3d372f;
  border-width: 0.2vh;
  border-style: solid;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

  padding: 0 2vh;

  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }

  &[data-bg-color="green"] {
    background-color: #41904e;
    border-color: #41904e;
  }

  &[data-bg-color="primary"] {
    background-color: $color-mustard;
    border-color: $color-mustard;
  }

  &[data-state="hoverable"]:hover,
  &[data-state="hoverable"]:active {
    background-color: rgba($color-mustard, 0.3);
  }

  &[data-pointer] {
    cursor: pointer;
  }
}

.choice-text {
  display: block;
  user-select: none;
  background-color: transparent;

  font-size: $choice-font-size;
  font-weight: 700;

  color: black;

  &[data-color="white"] {
    color: white;
  }

  &:focus {
    outline: none !important;
  }
}

.choice-alphabet {
  width: 3vh;
  height: 3vh;
  font-size: $choice-font-size;
  font-weight: 700;

  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;

  margin-right: 8px;

  color: $color-mustard;

  &[data-color="white"] {
    color: white;
  }

  &[data-color="black"] {
    color: black;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar-wrapper {
  height: 5vh;
  margin-bottom: 0.2vh;
  &[data-hidden] {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.next-button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  outline: none;

  padding: 0 0 0 0;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  width: 6vh;
  min-width: 60px; /* for accessibility, buttons should be at least 16mm */
  height: 6vh;
  min-height: 60px; /* for accessibility, buttons should be at least 16mm */
  border-radius: 50%;
  background-color: #0b6afb;
  border: #0b6afb;
  color: white;

  position: absolute;
  bottom: 1vh;
  right: 1vh;
  z-index: 2;

  animation: fadeIn 1s;

  & > svg {
    height: 55% !important;
    width: 55% !important;
  }
}

.footer {
  width: 100%;
  min-height: 3rem;
  background-color: white;
  text-align: center;
}
