$body-bg-color: beige;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $body-bg-color;
  margin: 0;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.top-bar {
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto 2rem auto;
  padding: 0.5rem 0.5rem 0 0.5rem;
}

%deck {
  height: 6rem;
  width: 6rem;
  max-width: 100%;
  min-width: 2rem;
}

.all {
  @extend %deck;
  color: grey;
}

.success {
  @extend %deck;
  color: green;
  &[data-state="consuming"] {
    opacity: 0.5;
  }
}

.fail {
  @extend %deck;
  color: red;
}

.content {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.image-container {
  height: 20rem;
  width: 100%;
  margin-bottom: 2rem;
}

.square {
  width: 20rem;
  height: 20rem;
  margin: 0 auto;
  display: block;
  position: absolute;
  opacity: 0;

  &[data-state="initial"] {
    position: static;
    animation: slideAndFadeIn 1s;
    opacity: 1;
  }
}

@keyframes slideAndFadeIn {
  from {
    opacity: 0;
    transform: translateX(-60px);
  }
  to {
    opacity: 1;
  }
}

/* **************** */
@keyframes fadeout {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.choices {
  display: block;
  margin: 0 auto;
  padding-inline-start: 0px;
  list-style: inside;
  list-style-type: decimal;
  display: block;

  &[data-state="initial"] {
    animation: 1s slideAndFadeIn;
  }

  &[data-state="moving"] {
    opacity: 0;
    animation: 0.3s fadeout;
  }

  &[data-state="top"] {
    opacity: 0;
  }

  & > li {
    cursor: pointer;
    user-select: none;
    color: black;
    background-color: transparent;
    border-radius: 6px;
    border: 2px solid black;
    margin-bottom: 4px;
    padding: 0 1rem;

    font-size: 2rem;
  }

  & > li:hover {
    background-color: darken($body-bg-color, 25%);
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
