$body-bg-color: darken(white, 15%);
$choice-font-size: 2rem;
$color: #c97f20;

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  background-color: $body-bg-color;
  margin: 0;
}

#root {
  padding: 0.5rem;
  height: 100%;
  width: 100%;
}

.top-bar-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5rem;
}

.top-bar {
  width: 100%;
  max-width: 30rem;
  display: flex;
  justify-content: space-between;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  width: 100%;
  padding: 1.5rem;
  opacity: 0;

  border-radius: 12px;
  border-color: black;
  border-style: solid;
  border-width: 3px;
  background-color: white;

  position: relative;
}

.main-section {
  height: auto;
  max-width: 30rem;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.img {
  display: block;
  height: 18rem;

  width: 100%;
}

/* **************** */
.question {
  margin: 0.5rem 0 0 0;
  visibility: visible;
}

.choices {
  display: block;
  padding-inline-start: 0px;
  list-style: none;
  display: block;
}

.choice-li {
  display: flex;
  align-items: center;
  border: 2px solid $color;
  border-radius: 8px;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);

  margin-bottom: 0.5rem;
  &:last-child {
    margin-bottom: 0;
  }

  &[data-bg-color="green"] {
    background-color: #41904e;
    border-color: #41904e;
  }

  &[data-bg-color="primary"] {
    background-color: $color;
  }

  &[data-state="hoverable"]:hover {
    background-color: rgba($color, 0.3);
  }
}

.choice-text {
  cursor: pointer;
  display: block;
  user-select: none;
  background-color: transparent;
  margin-bottom: 4px;
  padding: 0 1rem;

  font-size: $choice-font-size;
  font-weight: 700;

  color: black;

  &[data-color="white"] {
    color: white;
  }
}

.choice-alphabet {
  cursor: pointer;

  user-select: none;

  width: 2.2rem;
  height: 2.2rem;
  font-size: $choice-font-size - 0.5rem;
  font-weight: 700;

  justify-content: center;
  align-items: center;
  border-radius: 100%;
  text-align: center;
  display: flex;

  color: $color;

  &[data-color="white"] {
    color: white;
  }

  &[data-color="black"] {
    color: black;
  }
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.progress-bar-wrapper {
  &[data-hidden] {
    visibility: hidden;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.next-button {
  cursor: pointer;
  height: 2rem;
  padding: 0 0 0 0;
  font-size: 1.5rem;
  outline: none;
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.3);
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  background-color: rebeccapurple;
  color: white;

  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;

  animation: fadeIn 1s;
}
